---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  title: string;
  description: string;
  image?: string;
  type?: 'website' | 'article';
  publishedAt?: Date;
}

const { title, description, image, type, publishedAt } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      type={type}
      publishedAt={publishedAt}
    />
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
